In [29]:
import pandas as pd

In [30]:
data = pd.read_csv('/Users/xuhuang/1020_sim_Cimin_v1.csv', low_memory= False, header = None)

In [31]:
x = data[2].str.split(' ', expand=True, header = None)

TypeError: StringMethods.split() got an unexpected keyword argument 'header'

In [27]:
df = pd.concat([data, x], axis=1)

In [28]:
df

,0,1,2,0,1,2,3,4,5,6,...,90,91,92,93,94,95,96,97,98,99
0,1,4,57 55 26 19 48 32 22 48 51 48 47 49 54 21 58 5...,57,55,26,19,48,32,22,...,None,None,None,None,None,None,None,None,None,None
1,1,5,43 51 55 51 49 41 55 51 44 48 51 41 48 52 4 60...,43,51,55,51,49,41,55,...,None,None,None,None,None,None,None,None,None,None
2,1,6,32 46 48 48 37 57 55 16 58 49 41 60 48 59 44 4...,32,46,48,48,37,57,55,...,None,None,None,None,None,None,None,None,None,None
3,2,7,4 4 5 11 6 15 18 13 14 16 14 17 45 19 11 22 20...,4,4,5,11,6,15,18,...,4,5,15,2,20,13,20,2,13,3
4,3,10,14 8 17 16 11 11 4 3 4 8 2 7 6 4 6 6 18 9 8 1 ...,14,8,17,16,11,11,4,...,1,17,13,19,13,2,1,8,13,6
5,4,5,52 49 59 48 12 52 48 42 57 48 4 36 49 45 57 56...,52,49,59,48,12,52,48,...,None,None,None,None,None,None,None,None,None,None
6,5,6,48 51 4 49 60 54 46 58 48 49 19 49 41 8 52 48 ...,48,51,4,49,60,54,46,...,None,None,None,None,None,None,None,None,None,None
7,5,8,60 25 46 52 50 58 45 52 52 48 48 45 38 39 23 4...,60,25,46,52,50,58,45,...,None,None,None,None,None,None,None,None,None,None
8,6,8,49 57 59 44 41 43 55 15 48 49 2 52 19 59 43 45...,49,57,59,44,41,43,55,...,None,None,None,None,None,None,None,None,None,None
9,7,9,2 1 16 14 2 18 16 11 6 18 45 18 10 10 12 19 20...,2,1,16,14,2,18,16,...,None,None,None,None,None,None,None,None,None,None
10,7,10,3 20 14 5 14 10 14 14 9 1 12 10 13 6 20 7 7 20...,3,20,14,5,14,10,14,...,None,None,None,None,None,None,None,None,None,None